<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <center>
          <p>Hi! I am a passionate of video games, psychology and music, and I’ve built my professional career as a producer.</p>
          <p>With strong communication and interpersonal skills, I thrive in steering projects from both creative and organizational standpoints.</p>
          <p>I’m also a highly positive and self-motivated individual who thoroughly enjoys humor. In the studio, I often find myself wearing many hats due to my versatility and ability to adapt to various roles: the octopus-jack-of-all-trades.</p>
        </center>
      </div>
    </div>
  </div>
</section>
