<!DOCTYPE html>
<html>
  <head>
    <!--META-->
    <title>Satori Dojo | Artes marciales y defensa personal en Málaga</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Satori Dojo - Nippon Kempo y Brazilian Jiu-Jitsu Judo en Málaga. Adultos e infantil. Artes marciales, defensa personal, fuerza, valor, superación y autoconfianza."
    />
    <link rel="canonical" href="https://satoridojo.es/"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Cache-control" content="no-cache" />

    <!--OPEN GRAPH-->
    <meta property="og:type" content="website" />
    <meta name="author" content="Satori Dojo">
    <meta name="keywords" content="Dojo, Dojo Málaga, Dojo Malaga, Artes marciales, Defensa personal, Nippon Kempo, BJJ, Jiu-Jitsu">
    <meta property="og:title" content="Satori Dojo | Artes marciales y defensa personal en Málaga" />
    <meta property="og:description" content="Satori Dojo - Nippon Kempo y Brazilian Jiu-Jitsu Judo en Málaga. Adultos e infantil. Artes marciales, defensa personal, fuerza, valor, superación y autoconfianza." />
    <meta property="og:image" content="images/satoridojologo.png" />
    <meta property="og:url" content="permalink" />

    <!--LINKS-->
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link href="css/styles.css" type="text/css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="contenedor">
      <!--NAV-->
      <nav>
        <a href="#presentacion">Presentación</a>
        <a href="#nippon-kempo">Nippon Kempo</a>
        <a href="#jiu-jitsu">Jiu-Jitsu</a>
        <a href="#contacto">Contacto</a>
      </nav>

      <!--INSTAGRAM-->
      <a
        class="instagram"
        href="https://www.instagram.com/nipponkempospain/"
        target="_blank"
        ><img
          src="images/instagram.svg"
          alt="Instagram Satori Dojo"
          title="Síguenos en Instagram"
          width="60"
      /></a>

      <a
        class="whatsapp"
        href="https://wa.me/677111954"
        target="_blank"
        ><img
          src="images/whatsapp.png"
          alt="Whatsapp Satori Dojo"
          title="Escríbenos en WhatsApp"
          width="60"
      /></a>

      <!--HEADER-->
      <header id="inicio">
        <video
          src="videos/satoridojointro.mp4"
          muted
          loop
          autoplay
          playsinline
        ></video>
        <div class="box">
          <a href="#presentacion"
            ><img
              class="zoom"
              src="images/satoridojologo.png"
              alt="Satori Dojo Logo"
              title="Satori Dojo"
              width="600"
          /></a>
          <br><br><br>
          
          <a href="#presentacion" class="boton grande zoom-lite">Comienza</a>
        </div>
      </header>

      <!--SOMOS-->
      <section id="presentacion">
        <div class="box">
          <div class="columnas invertidas">
            <div class="columna columna_66 presentacion">
              <h2>SATORI DOJO</h2>
              <hr />
              <p>
                Satori Dojo nace en 2024 como la única academia que imparte <strong>Nippon Kempo</strong> en Málaga,
                extendiendo este arte marcial con la práctica de <strong>Jiu-Jitsu Brasileño</strong>.</br></br>
                El Nippon Kempo, además de ser <strong>arte marcial completo y realista</strong>, es ideal como herramienta de <strong>defensa personal</strong>.</br></br>
                Heredado a través de la cultura Samurai y refinado durante más de 125 años, lleva impregnada
                su filosofía y disciplina, lo que lleva a la expresión física de la <strong>autosuperación</strong>, la
                <strong>autoconfianza</strong> y la <strong>evolución personal</strong>, entre otros beneficios.
              </p>
            </div>
          </div>
          <div class="columnas profesores">
            <div class="columna columna_20">
              <img
                class="circulo zoom-lite"
                src="images/fede.png"
                alt="Federico Alba Nippon Kempo"
                title=""
              />
              <h3>Federico Alba</h3>
              3er. Dan Nippon Kempo</br>
              Director técnico para España</br>
              Faixa marrón IBJJ</br>
              ZENITH BJJ TEAM</br>
            </div>
          </div>
        </div>
      </section>

      <!--NIPPON KEMPO-->
      <section id="nippon-kempo">
        <div class="columnas">
          <div class="columna columna_50">
            <img
              class="detalle"
              src="images/nippon-kempo-kanji.png"
              alt="Nippon Kempo Kanji"
              title="Satori Dojo Nippon Kempo kanji"
            />
            <video
              class="circulo"
              src="videos/SecuenciaNK.mp4"
              muted
              loop
              autoplay
              playsinline
            ></video>
          </div>
          <div class="columna columna_50">
            <div class="box">
              <h2>NIPPON KEMPO</h2>
              <p>
                El Nippon Kempo se distingue por su enfoque en el combate realista, integrando tanto técnicas de pie como de suelo.
                Los practicantes utilizan protecciones para minimizar el riesgo de lesiones durante los entrenamientos y combates,
                permitiendo así un entrenamiento intenso y seguro. La filosofía del Nippon Kempo se centra en desarrollar no solo la
                habilidad física, sino también la disciplina mental y el espíritu combativo.
              </p>
              <ul>
                <li><strong>Martes y Jueves</strong> 9:30 — 11:00 h</li>
              </ul>
              <a href="#contacto" class="boton">Inscríbete</a>
            </div>
          </div>
        </div>
      </section>

      <!--NK Infantil-->
      <section>
        <div class="columnas invertidas">
          <div class="columna columna_50">
            <img class="circulo" src="images/nippon-kempo-infantil.png" alt="Nippon Kempo Infantil" />
          </div>
          <div class="columna columna_50">
            <div class="box">
              <h2>NIPPON KEMPO</br>INTANFIL</h2>
              <p>
                El Nippon Kempo es un arte marcial japonés donde los niños aprenden a defenderse de manera segura
                mientras usan protecciones especiales. Combina golpes, proyecciones y técnicas en el suelo, siempre
                enfocándose en el respeto y el autocontrol. A través de juegos y ejercicios, los niños desarrollan habilidades físicas,
                confianza y disciplina, todo en un ambiente divertido y controlado.
              </p>
              <ul>
                <li><strong>Lunes y Miércoles</strong>16:30 — 17:30 h</li>
                <li><strong>Lunes y Miércoles (juvenil)</strong>17:30 — 18:30 h</li>
              </ul>
              <a href="#contacto" class="boton">Inscríbete</a>
            </div>
          </div>
        </div>
      </section>

      <!--JIU-JITSU ADULTOS-->
      <section id="jiu-jitsu">
        <div class="columnas">
          <div class="columna columna_50">
            <img
              class="detalle"
              src="images/nombre_jiu_jitsu.svg"
              alt="Jiu-Jitsu Kanji"
              title="Satori Dojo Jiu-Jitsu"
            />
            <video
              class="circulo"
              src="videos/bjj.mp4"
              muted
              loop
              autoplay
              playsinline
            ></video>
          </div>
          <div class="columna columna_50">
            <div class="box">
              <h2>JIU-JITSU</h2>
              <p>
                El Jiu-Jitsu Brasileño (BJJ) es un arte marcial y deporte de combate que se especializa en el grappling y las técnicas de lucha en el suelo.
                Derivado del Jiu-Jitsu japonés y popularizado en Brasil, se centra en la habilidad de someter a un oponente utilizando técnicas
                de control y estrangulación. Es conocido por su enfoque en la estrategia y la técnica por encima de la fuerza bruta.
                El BJJ es ampliamente practicado tanto en competiciones deportivas como en situaciones de defensa personal,
                fomentando la autoconfianza y la disciplina entre sus practicantes.
              </p>
              <ul>
                <li><strong>Martes y Jueves</strong>11:30 — 13:00 h</li>
              </ul>
              <a href="#contacto" class="boton">Inscríbete</a>
            </div>
          </div>
        </div>
      </section>

      <!--CONTACTO-->
      <section class="contacto" id="contacto">
        <div class="columnas">
          <div style="align-items: center !important;" class="columna centrado_vertical">
            <div" class="box">
              <h2>Contacto e inscripciones</h2>
              </br>
              </br>
              </br>
              <div class="columnas">
                <div class="columna columna_33 centrado_vertical" style="align-items: center !important;">
                  <h3 style="color: white;">Escríbenos</h3>
                </br>
                  <a
                    class=""
                    href="https://wa.me/677111954"
                    target="_blank"
                    ><img
                      style="background-color: rgb(14, 14, 14);border-radius: 100%;box-shadow: 0 0 6px 6px rgba(255, 0, 0, 0.25);"
                      src="images/whatsapp-icon.png"
                      alt="Whatsapp Satori Dojo"
                      title="Escríbenos en WhatsApp"
                      width="120"
                  /></a>
                </div>
                <div class="columna columna_33 centrado_vertical" style="align-items: center !important;">
                  <h3 style="color: white;">Síguenos</h3>
                </br>
                  <a
                    class=""
                    href="https://www.instagram.com/nipponkempospain/"
                    target="_blank"
                    ><img
                      style="background-color: rgb(14, 14, 14);border-radius: 100%;box-shadow: 0 0 6px 6px rgba(255, 0, 0, 0.25);"
                      src="images/instagram-icon.png"
                      alt="Instagram Satori Dojo"
                      title="Síguenos en Instagram"
                      width="120"
                  /></a>
                </div>
                <div class="columna columna_33 centrado_vertical" style="align-items: center !important;">
                  <h3 style="color: white;">Llámanos</h3>
                </br>
                  <a
                    class=""
                    href="tel:677111954"
                    target="_blank"
                    ><img
                      style="background-color: rgb(14, 14, 14);border-radius: 100%;box-shadow: 0 0 6px 6px rgba(255, 0, 0, 0.25);"
                      src="images/call-icon.png"
                      alt="Instagram Satori Dojo"
                      title="Síguenos en Instagram"
                      width="120"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--FOOTER-->
      <footer>
        <div class="box">
          <div class="columnas">
            <div class="columna columna_25">
              <strong>DIRECCIÓN</strong>
              Calle la Regente, 7<br/>
              29009 Málaga<br />
              Ver plano en
              <a
                href="https://www.google.com/maps/place/Satori+Dojo/@36.7257798,-4.430792,17z/data=!3m1!4b1!4m6!3m5!1s0xd72f70069010973:0xe0a40c23be1c7519!8m2!3d36.7257755!4d-4.4282171!16s%2Fg%2F11vs7x7qkf?authuser=4&entry=ttu&g_ep=EgoyMDI0MDgyNy4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                >Google Maps</a
              ><br />
            </div>
            <div class="columna columna_25">
              <strong>CONTACTO</strong>
              Llámanos al <a href="tel:687636259">677 111 954</a><br />
              Escríbenos <a href="https://wa.me/677111954">por WhatsApp</a><br/>
              Síguenos en
              <a href="https://www.instagram.com/nipponkempospain/" target="_blank"
                >instagram</a
              ><br />
            </div>
            <div class="columna columna_25"></div>
            <div class="columna columna_25">
              Afiliado a<br />
              <a href="http://fejjyda.com/" target="_blank"
                ><img
                  class="footer_logo"
                  src="images/logo_FEJJYDA.png"
                  alt="FEJJYDA"
                  title="FEJJYDA"
                  width="180"
              /></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>