<!DOCTYPE html>
<html>
  <head>
    <!--META-->
    <title>Satori Dojo</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Tu Dojo de Jiu-Jitsu, Brazilian Jiu-Jitsu y Judo en Málaga. Adultos e infantil. Defensa personal, superación y autoconfianza."
    />
    <meta name="author" content="factor ñ" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Cache-control" content="no-cache" />

    <!--OPEN GRAPH-->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/logo_dojo_yoshinkai_og.png" />

    <!--LINKS-->
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link href="css/styles.css" type="text/css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="contenedor">
      <!--NAV-->
      <nav>
        <a href="#presentacion">Presentación</a>
        <a href="#nippon-kempo">Nippon Kempo</a>
        <a href="#jiu-jitsu">Jiu-Jitsu</a>
        <a href="#contacto">Contacto</a>
      </nav>

      <!--INSTAGRAM-->
      <a
        class="instagram"
        href="https://www.instagram.com/nipponkempospain/"
        target="_blank"
        ><img
          src="images/instagram.svg"
          alt="Instagram"
          title="Síguenos en Instagram"
          width="60"
      /></a>

      <a
        class="whatsapp"
        href="https://wa.me/677111954"
        target="_blank"
        ><img
          src="images/whatsapp.png"
          alt="Whatsapp"
          title="Escríbenos en WhatsApp"
          width="60"
      /></a>

      <!--HEADER-->
      <header id="inicio">
        <video
          src="videos/yoshinkai.mp4"
          muted
          loop
          autoplay
          playsinline
        ></video>
        <div class="box">
          <a href="#presentacion"
            ><img
              class="zoom"
              src="images/satoridojologo.png"
              alt="Satori Dojo"
              title="Satori Dojo"
              width="600"
          /></a>
          <br><br><br>
          
          <a href="#presentacion" class="boton grande zoom-lite">Comienza</a>
        </div>
      </header>

      <!--SOMOS-->
      <section id="presentacion">
        <div class="box">
          <div class="columnas invertidas">
            <div class="columna columna_66 presentacion">
              <h2>SATORI DOJO</h2>
              <hr />
              <p>
                Yoshinkai nace en 2001 con el fin de fomentar el
                <strong>Jiu-Jitsu</strong> en Málaga. No solo como un arte
                marcial completo, de <strong>defensa</strong> personal, sino
                como una expresión física de la autosuperación, de la
                <strong>autoconfianza</strong> y de la
                <strong>evolución personal</strong>. Una actividad deportiva que
                aúna el acondicionamiento físico con la técnica depurada. Así es
                cómo trabaja nuestra escuela cada arte marcial que se practica.
                Y así es como vamos a verte evolucionar.
              </p>
            </div>
          </div>
          <div class="columnas profesores">
            <div class="columna columna_20">
              <img
                class="circulo zoom-lite"
                src="images/fede.png"
                alt="Fede"
                title=""
              />
              <h3>Federico Alba</h3>
              3er. Dan Nippon Kempo</br>
              Director técnico para España</br>
              Faixa marrón IBJJ</br>
              ZENITH BJJ TEAM</br>
            </div>
          </div>
        </div>
      </section>

      <!--BRAZILIAN JIU-JITSU-->
      <section id="nippon-kempo">
        <div class="columnas">
          <div class="columna columna_50">
            <img
              class="detalle"
              src="images/nippon-kempo-kanji.png"
              alt=""
              title="Satori Dojo Nippon Kempo Infantil"
            />
            <video
              class="circulo"
              src="videos/brazilian_jiu_jitsu.mp4"
              muted
              loop
              autoplay
              playsinline
            ></video>
          </div>
          <div class="columna columna_50">
            <div class="box">
              <h2>NIPPON KEMPO</h2>
              <p>
                El Nippon Kempo se distingue por su enfoque en el combate realista, integrando tanto técnicas de pie como de suelo.
                Los practicantes utilizan protecciones para minimizar el riesgo de lesiones durante los entrenamientos y combates,
                permitiendo así un entrenamiento intenso y seguro. La filosofía del Nippon Kempo se centra en desarrollar no solo la
                habilidad física, sino también la disciplina mental y el espíritu combativo.
              </p>
              <ul>
                <li><strong>Martes y Jueves</strong> 9:30 — 10:30 h</li>
                <li><strong>Lunes y Miércoles</strong> 18:00 — 19:00 h</li>
              </ul>
              <a href="#contacto" class="boton">Inscríbete</a>
            </div>
          </div>
        </div>
      </section>

      <!--NK Infantil-->
      <section>
        <div class="columnas invertidas">
          <div class="columna columna_50">
            <video
              class="circulo"
              src="videos/judo.mp4"
              muted
              loop
              autoplay
              playsinline
            ></video>
          </div>
          <div class="columna columna_50">
            <div class="box">
              <h2>NIPPON KEMPO</br>INTANFIL</h2>
              <p>
                El Nippon Kempo es un arte marcial japonés donde los niños aprenden a defenderse de manera segura
                mientras usan protecciones especiales. Combina golpes, proyecciones y técnicas en el suelo, siempre
                enfocándose en el respeto y el autocontrol. A través de juegos y ejercicios, los niños desarrollan habilidades físicas,
                confianza y disciplina, todo en un ambiente divertido y controlado.
              </p>
              <ul>
                <li><strong>Lunes</strong> 20:00 — 22:00 h</li>
                <li><strong>Miércoles</strong> 20:00 — 22:00 h</li>
              </ul>
              <a href="#contacto" class="boton">Inscríbete</a>
            </div>
          </div>
        </div>
      </section>

      <!--JIU-JITSU ADULTOS-->
      <section id="jiu-jitsu">
        <div class="columnas">
          <div class="columna columna_50">
            <img
              class="detalle"
              src="images/nombre_jiu_jitsu.svg"
              alt=""
              title="Satori Dojo Jiu-Jitsu"
            />
            <video
              class="circulo"
              src="videos/jiu_jitsu.mp4"
              muted
              loop
              autoplay
              playsinline
            ></video>
          </div>
          <div class="columna columna_50">
            <div class="box">
              <h2>JIU-JITSU</h2>
              <p>
                El Jiu-Jitsu Brasileño (BJJ) es un arte marcial y deporte de combate que se especializa en el grappling y las técnicas de lucha en el suelo.
                Derivado del Jiu-Jitsu japonés y popularizado en Brasil, se centra en la habilidad de someter a un oponente utilizando técnicas
                de control y estrangulación. Es conocido por su enfoque en la estrategia y la técnica por encima de la fuerza bruta.
                El BJJ es ampliamente practicado tanto en competiciones deportivas como en situaciones de defensa personal,
                fomentando la autoconfianza y la disciplina entre sus practicantes.
              </p>
              <ul>
                <li><strong>Lunes</strong> 20:00 — 22:00 h</li>
                <li><strong>Miércoles</strong> 20:00 — 22:00 h</li>
              </ul>
              <a href="#contacto" class="boton">Inscríbete</a>
            </div>
          </div>
        </div>
      </section>

      <!--JIU-JITSU INFANTIL-->
      <section>
        <div class="columnas invertidas">
          <div class="columna columna_50">
            <img class="circulo" src="images/jiu_jitsu_infantil.jpg" alt="" />
          </div>
          <div class="columna columna_50">
            <div class="box">
              <h2>JIU-JITSU <br />INFANTIL</h2>
              <p>
                El Jiu-Jitsu Brasileño es un arte marcial donde los niños aprenden a defenderse usando técnicas de grappling y lucha en el suelo.
                A través de movimientos estratégicos, los pequeños desarrollan fuerza, coordinación y confianza sin necesidad de usar la fuerza.
                Las clases se enfocan en el respeto, la paciencia y el trabajo en equipo, brindando un entorno seguro y divertido
                para que los niños crezcan física y mentalmente.
              </p>
              <ul>
                <li><strong>Martes</strong> 18:00 — 19:00 h</li>
                <li><strong>Martes</strong> 19:00 — 20:00 h</li>
                <li><strong>Jueves</strong> 18:00 — 19:00 h</li>
                <li><strong>Jueves</strong> 19:00 — 20:00 h</li>
              </ul>
              <a href="#contacto" class="boton">Inscríbete</a>
            </div>
          </div>
        </div>
      </section>

      <!--CONTACTO-->
      <section class="contacto" id="contacto">
        <div class="columnas">
          <div style="align-items: center !important;" class="columna centrado_vertical">
            <div" class="box">
              <h2>Contacto e inscripciones</h2>

              <!--
              <a
                class=""
                href="https://www.instagram.com/nipponkempospain/"
                target="_blank"
                ><img
                  src="images/instagram.svg"
                  alt="Instagram"
                  title="Síguenos en Instagram"
                  width="60"
              /></a>

              <a
                class=""
                href="https://wa.me/677111954"
                target="_blank"
                ><img
                  src="images/whatsapp.png"
                  alt="Whatsapp"
                  title="Escríbenos en WhatsApp"
                  width="60"
              /></a>
              -->
            </div>
          </div>
        </div>
      </section>

      <!--FOOTER-->
      <footer>
        <div class="box">
          <div class="columnas">
            <div class="columna columna_25">
              <strong>DIRECCIÓN</strong>
              Calle la Regente, 7<br/>
              29009 Málaga<br />
              Ver plano en
              <a
                href="https://www.google.com/maps/place/Satori+Dojo/@36.7257798,-4.430792,17z/data=!3m1!4b1!4m6!3m5!1s0xd72f70069010973:0xe0a40c23be1c7519!8m2!3d36.7257755!4d-4.4282171!16s%2Fg%2F11vs7x7qkf?authuser=4&entry=ttu&g_ep=EgoyMDI0MDgyNy4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                >Google Maps</a
              ><br />
            </div>
            <div class="columna columna_25">
              <strong>CONTACTO</strong>
              Llámanos al <a href="tel:687636259">677 111 954</a><br />
              <a href="#contacto">Escríbenos</a><br />
              Síguenos en
              <a href="https://www.instagram.com/nipponkempospain/" target="_blank"
                >instagram</a
              ><br />
            </div>
            <div class="columna columna_25"></div>
            <div class="columna columna_25">
              Afiliado a<br />
              <a href="http://fejjyda.com/" target="_blank"
                ><img
                  class="footer_logo"
                  src="images/logo_FEJJYDA.png"
                  alt="FEJJYDA"
                  title="FEJJYDA"
                  width="180"
              /></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>